.Messages {
  height: calc(90vh - 20px);
  padding: 10px 0px;
  overflow: auto;
}

.Message-wrapper {
  display: flex;
  justify-content: center;
}

.Message-wrapper.bubble {
  
  animation: slidein 0.5s ease-in-out forwards;
  justify-content: flex-end;
}
.Message-wrapper.bubble.incoming {
  animation: slideOut 1s ease-in forwards;
  justify-content: flex-start;
}

.Message-typing {
  display: flex;
  margin: 10px 40px;
  justify-content: flex-start;
}

.Message {
  display: flex;
  align-items: center;
  max-width: 350px;
  margin: 10px 15px;
  padding: 0 15px;
  position: relative;
}

.Message.fade {
  opacity: 0.1;
}

.Message.bubble {
  background-color: #7eb77e;
  border-radius: 15px;
  padding: 10px 15px;
}

.Message.bubble::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
  right: 0px;
  bottom: -10px;
  border: 12px solid;
  border-color: transparent #7eb77e transparent transparent;
}

.Message.bubble > h6 {
  font-size: 15px;
}

.Message.highlight { 
  background-color: #517851;
}
.Message.highlight::after {
  border-color: transparent #517851 transparent transparent;
}

.Message.highlight > h6 {
  font-size: 17px;
}

.Message.bubble.incoming {
  background-color: #b9b9b9;
}
.Message.bubble.incoming::after {
  left: 0px;
  right: auto;
  border-color: transparent transparent transparent #b9b9b9;
}

@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }
  100%{ 
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-100%);
  }
  100%{ 
    transform: translateX(0%);
  }
}