.Messages {
  height: 95vh;
  overflow: auto;
}

.Message-wrapper {
  display: flex;
  justify-content: center;
}

.Message-wrapper.bubble {
  justify-content: flex-end;
}
.Message-wrapper.bubble.incoming {
  justify-content: flex-start;
}

.Message {
  display: flex;
  align-items: center;
  max-width: 350px;
  margin: 10px 40px;
  padding: 0 15px;
  position: relative;
}

.Message.bubble {
  background-color: #7eb77e;
  border-radius: 15px;
  padding: 10px 15px;
}

.Message.bubble::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
  right: 0px;
  bottom: -10px;
  border: 12px solid;
  border-color: transparent #7eb77e transparent transparent;
}

.Message.bubble > h6 {
  font-size: 15px;
}

.Message.bubble.incoming {
  background-color: #b9b9b9;
}
.Message.bubble.incoming::after {
  left: 0px;
  right: auto;
  border-color: transparent transparent transparent #b9b9b9;
}