.Messages {
  height: 95vh;
  overflow: auto;
}

.Message-wrapper {
  display: flex;
  justify-content: flex-end;
}

.Message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 10px 40px;
  position: relative;
  background-color: #7eb77e;
  border-radius: 15px;
  padding: 10px 5px;
}

.Message::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
  right: 0px;
  bottom: -10px;
  border: 12px solid;
  border-color: transparent #7eb77e transparent transparent;
}

.Message > h6 {
  font-size: 15px;
}

.Message-wrapper.incoming {
  justify-content: flex-start;
}
.Message.incoming::after {
  left: 0px;
  right: auto;
  border-color: transparent transparent transparent #7eb77e;
}